<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h1 class="page-title">{{ page_heading | default('Empty') }}</h1>
            </div>
        </div>
    </div>
</div>
